@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Calc Service Demonstration</h1>
    <ul>
        <li><a asp-controller="Home" asp-action="Quiz">Quiz</a></li>
        <li><a asp-controller="Home" asp-action="QuizResult">QuizResult</a></li>
    </ul>
</div>
