<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Solution</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="menu-container">
                <a class="main-name" asp-area="" asp-controller="Home" asp-action="Main">Solution</a>
                <a asp-area="" asp-controller="Home" asp-action="Main">Home</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        &copy; 2022 - Backend1
    </footer>
</body>
</html>
